@font-face {
  font-family: 'otffont';
  src: url('./assets/CheddarGothicRough-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'spratanotf';
  src: url('./assets/LeagueSpartan-VariableFont_wght.woff2') format('woff2');
}

.otffont {
  font-family: 'otffont', sans-serif;
}
.spratanotf{
  font-family: 'spratanotf';
}
body {
  cursor: none;
  /* display: flex;
  text-align: center;
  justify-content: center; */
}
.app {
  overflow-x: hidden;
}

@keyframes bounceUpDown {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); } 
}
#tsparticles {
  height: 100vh;
  width: 100vw;
}