@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'otffont';
  src: url('./assets/CheddarGothicRough-Regular.otf') format('opentype');
}

.otffont {
  font-family: 'otffont', sans-serif;
}
